.input,
[class^=input-] {
    border: none;
    outline: none;
    padding: .5em 0;
    width: 100%;
    margin: .3em 0;
}
.input{
    &--number{
        max-width: 60px;

    }
     &--date {
         max-width: 140px;
         margin: .3em;
         padding: .5em;
     }
     &--text{
        padding: .5em;
        max-width: 500px;
     }
}