<footer class="footer theme--primary">
    <div class="d-flex justify-content-center align-items-center pt-1">
        <a class=" footer__link" href="">lorem ipsum</a>
        <a class=" footer__link" href="">lorem ipsum</a>
        <a  class=" footer__link" href="">lorem ipsum</a>
        <a  class=" footer__link" href="">lorem ipsum</a>
    </div>
    <div class="text-center">
        <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum quo veniam aliquid laborum hic.</small>
    </div>
</footer>