<header class="header">
    <div class="header__nav container-lg">
        <div class="header__logo">
            <img src="//alanxelmundo.com/wp-content/uploads/2017/12/best-day-logo.png" class="px-1" width="300px" height="100px" alt="">
            
        </div>
        <div class="header__phone">
            <h3 class="px-1">Central de reservas:<br><span class="font-size-2">01 800 012 5412</span></h3>
           
        </div> 
    </div>
    <nav class="navbar container-lg">
        <a class="navbar__brand" href="#">Navbar</a>
         <button type="button" class="navbar__toggle">
          <div class="hamburguer" class="">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <div class="navbar__collapse">
            <ul class="navbar__nav">
                <li class="nav__item active">
                    <a class="nav__link" href="#">Hoteles </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Pacotes</a>
                </li>
                 <li class="nav__item">
                    <a class="nav__link" href="#">Traslados</a>
                </li>
                 <li class="nav__item">
                    <a class="nav__link" href="#">Ofertas</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">A Cidade</a>
                </li>
            </ul>
        </div>
    </nav>
</header>